@import "../sass_import/mixin.scss";
@import "../sass_import/variable.scss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #68515a;
    font-family: 'Poppins', sans-serif;
}


nav ul  {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    align-items: space;
    max-height: 100%;
    height: 50px;
    font-size: 1.5rem;
    color: $primary-color;
    background-color: #1e1d1e;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    li a{
        list-style: none;
        color: $primary-color;
        }
}
a:link {
    text-decoration: none;    
    list-style: none;
}

.hero {
    .logo {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        padding-top: 50px;
    }
    h1.name {
        color: $primary-color;
        font-size: 3rem;
        padding-right: 50vh;
    }
    span {
        color: white;
    }
}